{% extends 'layout.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='main_page.css') }}"
/>
{% endblock head %} {% block body %}
<main class="container">
  <div id="main-options">
    {% if current_user.account_type == 'admin' %}
    <span>
      <a href="{{ url_for('inventory.inventory_page') }}">
        <img
          src="{{ url_for('static', filename='images/inventory-img.png') }}"
          alt="images"
        />
        <div class=".centered-text">Inventory</div>
      </a>
    </span>
    {% endif %}
    <span>
      <a href="{{ url_for('customer.catalogue') }}">
        <img
          src="{{ url_for('static', filename='images/shop.png') }}"
          alt="images"
        />
        <div class=".centered-text">Shop</div>
      </a>
    </span>
  </div>
</main>
{% endblock body %}
