{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">
    <script src="{{ url_for('static', filename='js/inventory/sortable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/inventory/products.js') }}"></script>
{% endblock head %}
{% block body %}
        <!-- Header -->
        <div class="div-header">
            <a class="link-design back-icon" href="{{ url_for('inventory.inventory_page') }}">
              <i class="fa fa-angle-left"></i> Back
            </a>
          <h2><u>Products</u></h2>
        </div>
        <!-- buttons -->
        <div class="div-products-heading">
          <!-- float-left -->
          <span class="div_buttons">
            <a class="btn btn-success link-design" href="{{ url_for('inventory.add_products') }}" >Add Products</a>
            <span class="setting_flex"><a class="btn btn-primary link-design" href="#">Settings</a></span>
          </span>
          <!-- float-right -->
          <span class="div_search_form">
            <form action="" method="POST">
              {{ form.hidden_tag() }}
                <div class="size_search">
                  {{ form.search(placeholder='ID/Name', class="form-control") }}
                  {{ form.p_type(class="form-control") }}
                  {{ form.submit(class="btn btn-info", style="margin-left:5px;") }}
                </div>
            </form>
          </span>
        </div>
        <!-- Product Table -->
        <table class="sortable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Type</th>
                <th>Unit</th>
                <th>Price</th>
                <th></th>
              </tr>
            <thead>
            <tbody>
              {% for product in products.items %}
                <tr id="table_row_{{ product.id }}">
                  <td id="table_id_{{ product.id }}">{{ product.product_id }}</td>
                  <td id="table_name_{{ product.id }}">{{ product.name }}</td>
                  <td>
                    <!-- Button trigger modal -->
                    <div data-bs-toggle="modal" data-bs-target="#div{{ product.product_id }}Modal"> 
                      <img id="table_image_{{ product.id }}" class="normal-img" src="{{ url_for('static', filename='/products_images/' + product.image ) }}" style="cursor:zoom-in;">
                    </div>

                    <!-- Modal -->
                    <div class="modal fade modal-font" id="div{{ product.product_id }}Modal" tabindex="-1" aria-labelledby="div{{ product.product_id }}ModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content bg-dark">
                          <div class="modal-header">
                            <h5 class="modal-title" id="div{{ product.product_id }}ModalLabel">{{ product.name }}(ID: {{ product.product_id }})</h5>
                            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <img id="table_image_modal_{{ product.id }}" class="zoom-img" src="{{ url_for('static', filename='/products_images/' + product.image ) }}">
                          </div>
                          <div class="modal-footer">
                            <div class="w-100">
                              <div class="modal-footer-cus">
                                Price: <span id="table_price_modal_span_{{ product.id }}">{{ product.price }}</span>
                              </div>
                              <div class="modal-footer-cus">
                                Unit: <span id="table_unit_modal_span_{{ product.id }}">{{ product.unit }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td id="table_p_type_{{ product.id }}">{{ product.p_type }}</td>
                  <td id="table_unit_{{ product.id }}">{{ product.unit }}</td>
                  <td id="table_price_{{ product.id }}">{{ product.price }}</td>
                  <td style="font-size:x-large;text-decoration:none">
                    <!-- Edit modal -->
                    <i class="fa fa-edit text-primary" data-bs-toggle="modal" data-bs-target="#edit{{ product.product_id }}Modal" style="cursor:pointer;" onclick="setSelectDefault('{{ product.id }}', '{{ product.p_type }}', '{{ product.unit }}')"></i>

                    <!-- Modal -->
                    <div class="modal fade modal-font" id="edit{{ product.product_id }}Modal" tabindex="-1" aria-labelledby="edit{{ product.product_id }}ModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <form name="update_product_form_{{ product.id }}" method="POST" onsubmit="return false">
                          {{ product_update_form.hidden_tag() }}
                        <div class="modal-content bg-dark">
                          <div class="modal-header">
                            <h5 class="modal-title" id="edit{{ product.product_id }}ModalLabel">Update product ID: {{ product.product_id }}</h5>
                            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <!-- Edit form here -->
                              <div class="edit-form-col">
                                <div class="edit-form-main">
                                  <span class="form-group edit-form-child">
                                    {{ product_update_form.name.label(class="form-control-label") }}
                                    {% if product_update_form.name.errors %}
                                        {{ product_update_form.name(class="form-control is-invalid", value=product.name) }}
                                        <div class="invalid-feedback">
                                            {% for error in product_update_form.name.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ product_update_form.name(class="form-control", value=product.name) }}
                                    {% endif %}
                                  </span>
                                  <span class="form-group edit-form-child">
                                    {{ product_update_form.image.label(class="form-control-label") }}
                                    {% if product_update_form.image.errors %}
                                        {{ product_update_form.image(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in product_update_form.image.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ product_update_form.image(class="form-control") }}
                                    {% endif %}
                                  </span>
                                </div>
                                <div class="edit-form-main">
                                  <span class="form-group edit-form-child">
                                    {{ product_update_form.p_type.label(class="form-control-label") }}
                                    {% if product_update_form.p_type.errors %}
                                        {{ product_update_form.p_type(class="form-control is-invalid", id="update_p_type_select_"+product.id|string) }}
                                        <div class="invalid-feedback">
                                            {% for error in product_update_form.p_type.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ product_update_form.p_type(class="form-control", id="update_p_type_select_"+product.id|string) }}
                                    {% endif %}
                                  </span>
                                  <span class="form-group edit-form-child">
                                    {{ product_update_form.unit.label(class="form-control-label") }}
                                    {% if product_update_form.unit.errors %}
                                        {{ product_update_form.unit(class="form-control is-invalid", id="update_unit_select_"+product.id|string) }}
                                        <div class="invalid-feedback">
                                            {% for error in product_update_form.unit.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ product_update_form.unit(class="form-control", id="update_unit_select_"+product.id|string) }}
                                    {% endif %}
                                  </span>
                                  <span class="form-group edit-form-child">
                                    {{ product_update_form.price.label(class="form-control-label") }}
                                    {% if product_update_form.price.errors %}
                                        {{ product_update_form.price(class="form-control is-invalid", value=product.price) }}
                                        <div class="invalid-feedback">
                                            {% for error in product_update_form.price.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ product_update_form.price(class="form-control", value=product.price) }}
                                    {% endif %}
                                  </span>
                                </div>
                              </div>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" data-bs-dismiss="modal" class='btn btn-danger' onclick="submitProductUpdateForm('{{ product.id }}', '{{ csrf_token() }}')">
                              Update
                            </button>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>
                    
                    <!-- Delete Modal -->

                    <i class="fa fa-trash text-danger" data-bs-toggle="modal" data-bs-target="#delete{{ product.product_id }}Modal" style="cursor:pointer;"></i>

                    <!-- Modal -->
                    <div class="modal fade modal-font" id="delete{{ product.product_id }}Modal" tabindex="-1" aria-labelledby="delete{{ product.product_id }}ModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                          <div class="modal-header">
                            <h5 class="modal-title" id="delete{{ product.product_id }}ModalLabel">Delete product ID: {{ product.product_id }}</h5>
                            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete product ID: {{ product.product_id }}?
                          </div>
                          <div class="modal-footer">
                            <!-- <a href="{{ url_for('inventory.delete_product', product_id=product.id) }}" onclick="deleteProduct('{{ product.id }}')" class="btn btn-danger">Delete</a> -->
                            <button type="button" data-bs-dismiss="modal" onclick="deleteProduct('{{ product.id }}')" class="btn btn-danger">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                <!--</form>-->
            </tbody>
        </table>

        {% if search %}
          <div class="container footer">
            {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
              {% if products.page == page_num %}
                  <a  class="btn btn-info" href="{{ url_for('inventory.products', page=page_num, search=search) }}">{{ page_num }}</a>
              {% else %}
                  <a  class="btn btn-outline-info" href="{{ url_for('inventory.products', page=page_num, search=search) }}">{{ page_num }}</a>
              {% endif %}
            {% else %}
              ...
            {% endif %}
            {% endfor %}
          </div>
        {% else %}
        <div class="container footer">
            <abbr title="Back to Top"><a href="#top" class="fa fa-arrow-circle-up link-design"></a></abbr>
          {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if products.page == page_num %}
                <a  class="btn btn-info" href="{{ url_for('inventory.products', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a  class="btn btn-outline-info" href="{{ url_for('inventory.products', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
          {% else %}
            ...
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
{% endblock body %}