.login-form{
    background-color: #212529;
    border: 1px solid #212529;
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5%;
}

@media screen and (max-width:992px) {
    .login-form{
        margin-left: 2%;
        margin-right: 2%;
    }
}